name: Android Build

on:
  push:
    branches:
      - feature/*
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x ./gradlew
      - run: ./gradlew assembleDebug
